<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>채팅방</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js" integrity="sha512-tL4PIUsPy+Rks1go4kQG8M8/ItpRMvKnbBjQm4d2DQnFwgcBYRRN00QdyQnWSCwNMsoY/MfJY8nHp2CzlNdtZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/main.js" charset="UTF-8"></script>
    <link rel="icon" sizes="192x192" href="/img/logo/192x192.png">
    <link rel="icon" sizes="512x512" href="/img/logo/512x512.png">
    <style>
        header div ul li{ width : 25%; }
        header div ul li a{ text-align : right; }
        #main{ margin-top : 120px; }
        #chat_room_keyboard{ width : 100%; padding : 10px 0; height : 40px; position : fixed; bottom : 0; left : 0; display : flex; flex-direction: row; justify-content: space-between; align-items: center;}
        #chat_room_keyboard div{ display : flex; justify-content: center; align-items: center; }
        #chat_room_keyboard div.icon_wrapper{ width : 12%; }
        #chat_room_keyboard div.icon_wrapper img{ width : 20px; margin-top : -5px; }
        #chat_room_keyboard div.input_wrapper{ width : 88%; justify-content: flex-end; }
        #chat_room_keyboard div.input_wrapper input{ width : 95%; padding : 0 5%; font-size : 11px; height : 40px; border-radius : 20px; border : none; background-color: #efefef;}
        #chat_room_keyboard div.input_wrapper input:focus{ outline: none; }



    </style>
</head>
<body>
<!-- 상단 메뉴바 -->
<header id="header">
    <div>
        <img src="/img/icon/arrow_left.png" alt="arrow_left" id="header_goback" class="img_icon">
        <div>
            <h2></h2>
            <p></p>
        </div>
    </div>
    <div>
        <ul>
            <li id="header_phone"><a href=""><img src="/img/icon/phone.png" alt="phone" class="img_icon"></a></li>
<!--            <li id="header_more"><img src="/img/icon/more.png" alt="more"></li>-->
        </ul>
    </div>
    <div sec:authentication="name" style="display : none;" id="memUsername"></div>
</header>
<!-- 메인정보 -->
<main id="main">
    <section id="chat_room">
        <div id="pdt_info">
            <img src="" alt="pdt_img" class="toPdt">
            <div class="toPdt">
                <p class="title"></p>
                <p class="price"></p>
            </div>
            <div class="pdt_select_wrapper">
                <select id="pdt_status">
                    <option value="0" selected>거래중</option>
                    <option value="1">예약중</option>
                    <option value="2">거래완료</option>
                </select>
            </div>
        </div>
        <ul></ul>
    </section>
</main>
<!-- 보내기 부분 -->
<div id="chat_room_keyboard">
    <div class="input_wrapper">
        <input type="text" inputmode="text" id="chat_msg" placeholder="메세지 보내기">
    </div>
    <div class="icon_wrapper">
        <img src="/img/icon/send.png" alt="send" id="btn_send" class="img_icon">
    </div>
</div>
<script>


















        $(function(){
            $("#main").animate({ scrollTop: 9999 });
            let searchParams = new URL(location.href).searchParams;

            // 기본 변수
            let chatPdtNo = searchParams.get("chatPdtNo");
            let chatMemNo = searchParams.get("chatMemNo");

            // 웹소켓 연결
            var stompClient = null;
            var socket = new SockJS(`/chat`);
            stompClient = Stomp.over(socket);
            // stompClient.debug = () => {};

            // 수신 메세지 확인
            stompClient.connect({}, function(frame) {
                stompClient.subscribe(`/topic/${chatPdtNo}/${chatMemNo}`, function(res) {
                    const msg = JSON.parse(res.body);
                    let myUsername = $("#memUsername").text();
                    let guestImgPath = $(".mem_img img").attr("src");
                    let $ul = $("#chat_room ul");

                    // 받은 메세지 노출
                    if(msg.target==myUsername){
                        $(`<li class="chat_balloon">
                            <div class="mem_img">
                                <img src="${guestImgPath}" alt="profile">
                            </div>
                            <div class="chat_msg">
                                <p>${msg.msg}</p>
                            </div>
                            <div class="chat_created_at">
                                ${timeForToday(msg.now)}
                            </div>
                        </li>`).appendTo($ul);
                        $("#main").animate({ scrollTop: 9999 });
                    }
                });
            });

            // 웹소켓 연결 해제
            function disconnect() {
                if(stompClient != null) {
                    stompClient.disconnect();
                }
            }

            // 메세지 보내기
            function sendMessage(msg) {
                stompClient.send(`/app/chat/${searchParams.get("chatPdtNo")}/${searchParams.get("chatMemNo")}`, {}, JSON.stringify({
                    'from':$("#memUsername").text(),
                    'msg':msg
                }));
            }








            // 상품 보기
            $(".toPdt").click(function(){
                $(location).attr("href", "/product/" + searchParams.get("chatPdtNo"))
            })

            // 상품 상태 변경
            $("#pdt_status").change(function() {
                let pdtStatus = $("#pdt_status").val();
                console.log(pdtStatus);

                $.ajax({
                    method: "POST",
                    url:"/api/v1/tx/save",
                    data: { txPdtNo: searchParams.get("chatPdtNo"), txBuyerNo: searchParams.get("chatMemNo"), pdtStatus: pdtStatus }
                })
                .done(function(res){
                    console.log(res);
                })
            });

            // 채팅 보내기
            $("#btn_send").click(function(){
                let msg = $("#chat_msg").val();

                if(!msg){
                    return;
                }

                sendMessage(msg);


                $.ajax({
                    method: "POST",
                    url: '/api/v1/chat',
                    data : { chatPdtNo : searchParams.get("chatPdtNo"), chatMemNo : searchParams.get("chatMemNo"), chatContent: msg }
                })
                .done(function(res){
                    if(res==1){
                        let $ul = $("#chat_room ul");
                        $(`<li class="chat_balloon mychat">
                            <div class="mem_img">
                                <img src="" alt="profile">
                            </div>
                            <div class="chat_msg">
                                <p>${msg}</p>
                            </div>
                            <div class="chat_created_at">
                                ${timeForToday(new Date())}
                            </div>
                        </li>`).appendTo($ul)
                    }
                    $("#main").animate({ scrollTop: 9999 });
                    $("#chat_msg").val('');
                    $("#chat_msg").focus();
                })
                .fail(function(res){
                    Swal.fire({
                        icon: 'error',
                        text: res.responseText
                    })
                })

            })


            // 채팅 내역 가져오기
            $.ajax({
                method:'GET',
                url:'/api/v1/chat',
                data:{chatPdtNo : searchParams.get("chatPdtNo"), chatMemNo: searchParams.get("chatMemNo"), start : 1, end : 20 }
            })
            .done(function(res){

                console.log(res);

                let hostNo = res.member.memNo;
                let guestNo = ( res.member.memNo != res.product.member.memNo ) ? res.product.member.memNo : res.chat[0].chatMemNo;
                // 게스트 정보
                var guestUsername;
                var guestNickname;
                var guestImgPath;
                var guestBrix;

                // 현재 사용자가 판매자라면 거래상태 설렉트 표시
                if(hostNo == res.product.member.memNo){
                    $("#pdt_status").css("display", "block");
                }else{
                    $("#pdt_status").css("display", "none");
                }

                // 게스트 정보 보기
                $("#header div div").click(function(){
                    $(location).attr("href", "/member/" + guestNo)
                })

                $.ajax({
                    method:'GET',
                    url:'/api/v1/mem/find-by-id',
                    data:{memNo : guestNo}
                })
                .done(function(res2){
                    guestUsername = res2.memUsername;
                    guestNickname = res2.memNickname;
                    guestImgPath = res2.imgPath;
                    guestBrix = res2.memBrix;

                    // 회원 정보
                    $("#header h2").text(guestNickname);
                    $("#header p").text(guestBrix + " 브릭스");
                    $("#header_phone a").attr("href", "tel:" + guestUsername);

                    // 상품 정보
                    $("#pdt_info img").attr("src", res.product.images[0].imgPath);
                    $("#pdt_info .title").text(res.product.product.pdtName);
                    $("#pdt_info .price").text(numberWithCommas(res.product.product.pdtPrice) + "원");
                    $("#pdt_status").val(res.product.product.pdtStatus).attr("selected","selected");


                    // 채팅 정보
                    let $ul = $("#chat_room ul");
                    let isSeller = ( res.member.memNo == res.product.member.memNo ) ? true : false;

                    for(msg of res.chat){
                        $(`<li class="chat_balloon ${ (isSeller==false && msg.chatIsSeller==false) || (isSeller==true && msg.chatIsSeller==true ) ? 'mychat' : '' }">
                            <div class="mem_img">
                                <img src="${guestImgPath}" alt="profile">
                            </div>
                            <div class="chat_msg">
                                <p>${msg.chatContent}</p>
                            </div>
                            <div class="chat_created_at">
                                ${timeForToday(msg.chatCreatedAt)}
                            </div>
                        </li>`).prependTo($ul)
                    }
                })
            })
            .fail(function(res){
                Swal.fire({
                    icon: 'error',
                    text: res.responseText
                })
                .then(function(result){
                    history.back();
                })
            })
        });




</script>
</body>
</html>