<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>채팅</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="/js/main.js" charset="UTF-8"></script>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" sizes="192x192" href="/img/logo/192x192.png">
    <link rel="icon" sizes="512x512" href="/img/logo/512x512.png">
</head>
<body>
<!-- 상단 메뉴바 -->
<header id="header">
    <div>
        <h2>채팅</h2>
    </div>
    <div>
        <ul>
<!--            <li id="header_notification"><img src="/img/icon/notification.png" alt="notification"></li>-->
        </ul>
    </div>
</header>
<!-- 메인정보 -->
<main id="main">
    <section id="chat">
        <ul>

        </ul>
    </section>
</main>
<!-- 하단 메뉴바 -->
<nav id="nav">
    <ul>
        <li id="nav_product">
            <img src="/img/icon/product.png" alt="nav_product" class="img_icon">
            <p>홈</p>
        </li>
        <li id="nav_board">
            <img src="/img/icon/board.png" alt="nav_board"class="img_icon">
            <p>동네생활</p>
        </li>
        <li id="nav_chat" class="selected">
            <img src="/img/icon/chat.png" alt="nav_chat" class="img_icon">
            <p>채팅</p>
        </li>
        <li id="nav_member">
            <img src="/img/icon/member.png" alt="nav_member" class="img_icon">
            <p>나의 한라봉</p>
        </li>
    </ul>
</nav>

<script>
    $(function(){
        $.ajax({
            method: 'GET',
            url: '/api/v1/chat/list'
        })
        .done(function(res){
            let $ul = $("#chat ul");
            if(res.length==0){
                $("<p style='text-align : center;padding : 30px 0;'>진행중인 채팅이 없습니다.</p>").appendTo($ul);
            }
            for(item of res){
                $(`<li class="chat_wrapper" onclick="$(location).attr('href', '/chat/room?chatPdtNo=${item.chatPdtNo}&chatMemNo=${item.chatMemNo}')">
                    <div class="img_wrapper">
                        <img src="${item.member.imgPath}" alt="profile">
                    </div>
                    <div class="info_wrapper">
                        <p>
                            <span class="info_name">${item.member.memNickname}</span>
                            <span class="info_address">${item.member.address==null ? '' : item.member.address[0].addressDong}</span>
                            <span class="info_created_at">${timeForToday(item.chatCreatedAt)}</span>
                        </p>
                        <p>
                            <span class="info_msg">${item.chatContent}</span>
                        </p>
                    </div>
                    <div class="product_wrapper">
                        <img src="${item.pdtImg}" alt="product">
                    </div>
                </li>`).appendTo($ul);
            };
        });
    });

</script>
</body>
</html>