<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hts.market.domain.transaction.repo.TxReviewRepo">
    <!--거래 리뷰 생성-->
    <insert id="save">
    <selectKey resultType="long" order="BEFORE" keyProperty="txReviewNo">
        select nvl(max(tx_review_tx_no),0)+1 from TRANSACTION_REVIEW
    </selectKey>
    insert into
    TRANSACTION_REVIEW (tx_review_tx_no, tx_review_type, tx_review_review_no)
    values
    ( #{txNo}, #{txReviewType}, #{reviewNo} )

    </insert>
    <!--거래 리뷰 삭제-->
    <delete id="delete">
        delete from
            TRANSACTION_REVIEW
        where
            tx_review_tx_no=#{txRviewNo}
    </delete>
    <!--거래 리뷰 목록 조회-->
    <select id="findById" resultType="long">
    <![CDATA[
        SELECT
            *
        FROM
            TRANSACTION_REVIEW
        WHERE
            tx_no=#{txNo}, tx_review_type=#{txReviewType}, review_no=#{reviewNo}
        ]]>
    </select>
</mapper>