<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품카테고리</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="/js/main.js" charset="UTF-8"></script>
</head>
<body>
<!-- 상단 메뉴바 -->
<header id="header">
    <div>
        <img src="/img/icon/arrow_left.png" alt="arrow_left" id="header_goback" class="img_icon">
        <div>
            <h2>상품 카테고리</h2>
        </div>
    </div>
</header>
<!-- 메인정보 -->
<main id="main">
    <section id="product_cate">
        <ul></ul>
    </section>
</main>

<script>
    $(function(){
        // 카테고리 목록 가져오기
        $.ajax({
            method: 'GET',
            url:'/api/v1/pdt-cate/find-all'
        })
        .done(function(res){
            let $ul = $("#product_cate ul");
            for(li of res){
                $(`<li onclick="$(location).attr('href', '/product?pdtCateNo=${li.pdtCateNo}')">
                    <div>
                        <img src="/img/icon/cate/${li.pdtCateNo}.png" class="img_icon">
                    </div>
                    <div>
                        <p>${li.pdtCate}</p>
                    </div>
                </li>`).appendTo($ul);
            }
        })
    });

</script>
</body>
</html>