<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 등록</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="js/main.js" charset="UTF-8"></script>
    <style>
        /* 상품 등록 */
        #header div.btn_upload{ justify-content: flex-end; }
        #header div h2{ font-size : 15px; font-weight : 400; }
        #header div.btn_upload span{ padding : 0 10px; font-weight : 600; font-size : 15px; color : #FF9D2A;  }
        #main section#product_upload{ width : 95%; padding : 0 2.5%; display : flex; flex-direction: column; justify-content: center; align-items: center; }
        #main section#product_upload > div{ padding : 20px 0; }
    </style>
</head>
<body>
    <!-- 상단 메뉴바 -->
    <header id="header">
        <div>
            <img src="img/icon/arrow_left.png" alt="arrow_left" id="header_goback">
            <div>
                <h2>중고거래 글쓰기</h2>
            </div>
        </div>
        <div class="btn_upload">
            <span>완료</span>
        </div>
    </header>
    <!-- 메인정보 -->
    <main id="main">
        <section id="product_upload">
            <div class="upload_img">
                <input type="file" multiple accept="image/jpeg, image/png">
            </div>
            <div class="upload_title">
                <input type="text" id="title" placeholder="제목">
            </div>
            <div class="upload_cate">
                <select id="cate" name="cate">
                    <option value="1" selected="selected">디지털기기</option>
                    <option value="2">축산물</option>
                    <option value="3">파인애플</option>
                </select>
            </div>
            <div class="upload_price">
                <input type="number" id="price" name="price" placeholder="가격">
            </div>
            <div class="upload_desc">
                <textarea name="desc" id="desc" cols="30" rows="10" placeholder="상품을 설명해 주세요!"></textarea>
            </div>
        </section>
    </main>
</body>
</html>