<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="js/main.js" charset="UTF-8"></script>
</head>
<body>
    <!-- 상단 메뉴바 -->
    <header id="header">
        <div>
            <select name="address" id="address"></select>
        </div>
        <div>
            <ul>
                <li id="header_search" onclick="$(location).attr('href', '/product/search')"><img src="img/icon/search.png" alt="search"></li>
                <li id="header_menu" onclick="$(location).attr('href', '/product/cate')"><img src="img/icon/menu.png" alt="menu"></li>
                <li id="header_notification"><img src="img/icon/notification.png" alt="notification"></li>
            </ul>
        </div>
    </header>
    <!-- 메인정보 -->
    <main id="main">
        <section id="product">
            <ul></ul>
        </section>
    </main>
    <!-- 하단 메뉴바 -->
    <nav id="nav">
        <div id="btn_add" onclick="$(location).attr('href', '/product/upload')">
            <img src="img/icon/add.png" alt="btn_add">
        </div>
        <ul>
            <li id="nav_product" class="selected">
                <img src="img/icon/product.png" alt="nav_product">
                <p>홈</p>
            </li>
            <li id="nav_board">
                <img src="img/icon/board.png" alt="nav_board">
                <p>동네생활</p>
            </li>
            <li id="nav_chat">
                <img src="img/icon/chat.png" alt="nav_chat">
                <p>채팅</p>
            </li>
            <li id="nav_member">
                <img src="img/icon/member.png" alt="nav_member">
                <p>나의 한라봉</p>
            </li>
        </ul>
    </nav>

    <script>
        $(function(){
            let searchParams = new URL(location.href).searchParams;

            $.ajax({
                method: "GET",
                url: "/api/v1/mem/find-by-name"
            })
            .done(function(res){
                let $address = $("#address");
                $address.empty();
                for(item of res.address){
                    $("<option class='opt_address'></option>")
                        .attr("data-si", item.addressSi)
                        .attr("data-gu", item.addressGu)
                        .attr("data-dong", item.addressDong)
                        .text(item.addressDong)
                        .appendTo($address);
                }
                $("#product ul").empty();
                getPdtList(res.address[0].addressSi, res.address[0].addressGu, res.address[0].addressDong, "", searchParams.get("pdtCateNo"), 1, 10);
            })

            $("#address").change(function() {
                let addressSi = $(this).find(':selected').data('si');
                let addressGu = $(this).find(':selected').data('gu');
                let addressDong = $(this).find(':selected').data('dong');
                $("#product ul").empty();
                getPdtList(addressSi, addressGu, addressDong,  "", searchParams.get("pdtCateNo"), 1, 10);
            });

        })

        // 상품 목록 검색
        function getPdtList(addressSi, addressGu, addressDong, keyword, pdtCateNo, start, end){

            // 상품 카테고리 번호 파싱
            if(pdtCateNo==null){
                pdtCateNo="";
            }else{
                pdtCateNo = Number(pdtCateNo);
            }

            // 상품 목록 가져오기
            $.ajax({
                method: "GET",
                url: "/api/v1/pdt/find-all-by-data",
                data : {addressSi, addressGu, addressDong, keyword, pdtCateNo, start, end}
            })
            .done(function(res){
                let $ul = $("#product ul");
                for( li of res ){
                    $(`
                    <li onclick="$(location).attr('href', '/product/' + ${li.pdtNo})">
                        <div class="img_wrapper">
                            <img src="${li.imgPath}" alt="product_img">
                        </div>
                        <div class="info_wrapper">
                            <div class="info">
                                <h3 class="info_title">${li.pdtName}</h3>
                                <p>
                                    <span class="info_address">${li.addressGu} ${li.addressDong}</span>
                                    <span class="info_created_at"> ${timeForToday(li.pdtCreatedAt)}</span>
                                </p>
                                <p>
                                    <span class="info_price">${numberWithCommas(li.pdtPrice)}원</span>
                                </p>
                            </div>
                            <div class="count">
                                <p class="count_chat">
                                    <img src="img/icon/chat.png" alt="chat_count" class="${ li.chatCheck ? 'selected' : '' }">
                                    <span>${li.chatCount}</span>
                                </p>
                                <p class="count_like">
                                    <img src="img/icon/member.png" alt="like_count" class="${ li.favoriteCheck ? 'selected' : '' }">
                                    <span>${li.favoriteCount}</span>
                                </p>
                            </div>
                        </div>
                    </li>`)
                    .appendTo($ul);
                }
            })
            .fail(function(res){
                Swal.fire({
                    icon: 'error',
                    text: res.responseText
                });
            });
        };
    </script>
</body>
</html>