<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품상세</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/main.js" charset="UTF-8"></script>
    <style>
        /* 상품 상세 */
        #main{ margin: 0 0 70px 0; position : relative }
        #main section#btn_nav{ position : absolute; top: 0; left : 0; z-index : 2; width : 100%; height : 50px; display : flex; flex-direction: row; justify-content: space-between; align-items: center;}
        #main section#btn_nav div{ width : 100%; height : 50px; display: flex; align-items: center; }
        #main section#btn_nav div.right{ justify-content : flex-end; }
        #main section#btn_nav div img{ height : 60%; padding : 0 1.5%; }

        #main section#product_detail{ width : 100%; display : flex; flex-direction: column; justify-content: center; align-items: center; }
        #main section#product_detail > div{ width : 95%; padding : 10px 2.5%; border-bottom : 1px solid #efefef; }
        #main section#product_detail div.swiper{ width : 100%; padding : 0; height : 100vw; object-fit: cover; overflow : hidden;}
        #main section#product_detail div.swiper img{ width : 100%; height : 100vw; object-fit: cover; overflow : hidden; }
        #main section#product_detail div.swiper .swiper-pagination-bullet-active{ background-color: #000 !important; }
        #main section#product_detail div.mem_info{ display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
        #main section#product_detail div.mem_info div.mem_left{ display: flex; flex-direction: row; align-items: center;}
        #main section#product_detail div.mem_info div.mem_left img{ width : 35px; height : 35px; border-radius : 50%; box-shadow: 0 0 3px -2px #303030; margin-right : 10px; }
        #main section#product_detail div.mem_info div.mem_left p.mem_nickname{ font-size : 15px; font-weight : 600; }
        #main section#product_detail div.mem_info div.mem_left p.mem_address{ font-size : 12px; font-weight : 100; }
        #main section#product_detail div.mem_info div.mem_right{ display : flex; flex-direction: column; align-items: flex-end; }
        #main section#product_detail div.mem_info div.mem_right p.mem_brix{ font-size : 15px; font-weight : 600; color : #FF9D2A; }
        #main section#product_detail div.mem_info div.mem_right p.mem_brix_title{ font-size : 12px; font-weight : 100; }
        #main section#product_detail div.pdt_info{ width : 90%; padding : 20px 5%;  }
        #main section#product_detail div.pdt_info h3{ font-size : 17px; line-height : 1.2;}
        #main section#product_detail div.pdt_info div span.pdt_cate{ font-size : 11px; opacity: 0.6; }
        #main section#product_detail div.pdt_info div span.pdt_created_at{ font-size : 11px; opacity: 0.6; }
        #main section#product_detail div.pdt_info div.pdt_desc{ padding : 20px 0; font-size : 14px; font-weight : 400; line-height : 1.5; }
        #main section#product_detail div.pdt_info div.pdt_counts{ font-size : 11px; opacity : 0.6; }
        #main section#product_detail div.pdt_list{ width : 90%; padding : 20px 5%; }
        #main section#product_detail div div.pdt_plusmenu{ display : flex; flex-direction: row; justify-content: space-between; }
        #main section#product_detail div div.pdt_plusmenu span{ font-size : 13px;  }
        #main section#product_detail div div.pdt_plusmenu img{ width : 20px; }
        #main section#product_detail div.pdt_list div.pdt_list_wrapper ul{ width : 105%; margin-left : -2.5%; padding : 10px 0;display : flex; justify-content: space-between; flex-wrap: wrap; }
        #main section#product_detail div.pdt_list div.pdt_list_wrapper ul li{ width : 46%; padding : 5px 2%; display : flex; flex-direction: column; }
        #main section#product_detail div.pdt_list div.pdt_list_wrapper ul li img{ width : 100%; border-radius: 10px; }
        #main section#product_detail div.pdt_list div.pdt_list_wrapper ul li div p{ line-height : 2; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; line-clamp: 1; -webkit-box-orient: vertical; }
        #main section#product_detail div.pdt_list div.pdt_list_wrapper ul li div p.item_title{ font-size : 12px; }
        #main section#product_detail div.pdt_list div.pdt_list_wrapper ul li div p.item_price{ font-size : 12px; font-weight : 600; line-height : 1.5; }

        #main section#btn_action{ width : 90%; height : 50px; padding : 10px 5%; display : flex; flex-direction: row; justify-content: space-between; align-items: center; background-color : #fff; position : fixed; bottom : 0; left : 0;  }
        #main section#btn_action div{ display : flex; align-items: center; }
        #main section#btn_action div img{ content: url(/img/icon/like.png); width : 25px; padding-right : 10px; margin-right : 10px; border-right : 1px solid #efefef; }
        #main section#btn_action div img.selected{ content: url(/img/icon/like_selected.png); }
        #main section#btn_action div div{ display: flex; flex-direction: column; align-items: flex-start; }
        #main section#btn_action div p{ font-size : 15px; opacity : 0.5; }
        #main section#btn_action div p.pdt_price{ font-weight: 600; opacity : 1; }
        #main section#btn_action div span{ font-size: 15px; font-weight: 400; background-color : #FF9D2A; padding : 7px 17px; color : #fff; border-radius: 7px; }
    </style>
</head>
<body>
    <!-- 메인정보 -->
    <main id="main">
        <div sec:authentication="name" style="display : none;" id="memUsername"></div>
        <section id="btn_nav">
            <div>
                <img src="/img/icon/arrow_left.png" alt="arrow_left" id="header_goback">
                <img src="/img/icon/product.png" alt="nav_product" id="nav_product">
            </div>
            <div class="right">
                <img src="/img/icon/more.png" alt="more" id="more">
            </div>
        </section>
        <section id="product_detail" th:attr="data-pdt-no=${pdtNo}">
            <div class="swiper">
                <div class="swiper-wrapper"></div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="mem_info">
                <div class="mem_left">
                    <img src="/img/example/profile.png" alt="profile" class="mem_profile_image">
                    <div>
                        <p class="mem_nickname"></p>
                        <p class="mem_address"></p>
                    </div>
                </div>
                <div class="mem_right">
                    <p class="mem_brix"></p>
                    <p class="mem_brix_title">당도</p>
                </div>
            </div>
            <div class="pdt_info">
                <h3 class="pdt_title"></h3>
                <div>
                    <span class="pdt_cate"></span>
                    <span class="pdt_created_at"></span>
                </div>
                <div class="pdt_desc"></div>
                <div class="pdt_counts">
                    관심 <span class="pdt_likes"></span> 조회 <span class="pdt_views"></span>
                </div>
            </div>
            <div class="pdt_rpt_info pdt_list">
                <div class="pdt_plusmenu">
                    <span>이 게시글 신고하기</span>
                    <img src="/img/icon/arrow_right.png" alt="arrow_right">
                </div>
            </div>
            <div class="mem_transaction_info pdt_list">
                <div class="pdt_plusmenu">
                    <span><span class="mem_nickname"></span>님의 판매 내역</span>
                    <img src="/img/icon/arrow_right.png" alt="arrow_right">
                </div>
                <div class="pdt_list_wrapper">
                    <ul></ul>
                </div>    
            </div>
            <div class="pdt_cate_recommend pdt_list">
                <div class="pdt_plusmenu">
                    <span>카테고리 추천</span>
                    <img src="/img/icon/arrow_right.png" alt="arrow_right">
                </div>
                <div class="pdt_list_wrapper">
                    <ul></ul>
                </div> 
            </div>
        </section>
        <section id="btn_action">
            <div>
                <div>
                    <img src="/img/icon/like.png" alt="like" id="btn_favorite">
                </div>
                <div>
                    <p class="pdt_price"></p>
                    <p>가격제안불가</p>
                </div>
            </div>
            <div>
                <span>채팅하기</span>
            </div>
        </section>
    </main>
    <script>
        $(function(){
            let pdtNo = $("#product_detail").data("pdt-no");

            $("#btn_favorite").click(function(){
                if($("#btn_favorite").hasClass("selected")){
                    $.ajax({
                        method: 'DELETE',
                        url: '/api/v1/pdt-favorite/delete',
                        data: {pdtNo}
                    }).done(function(res){
                        $("#btn_favorite").removeClass("selected");
                    }).fail(function(res){
                        Swal.fire({
                            icon: 'error',
                            text: res.responseText
                        })
                    })
                }else{
                    $.ajax({
                        method: 'POST',
                        url: '/api/v1/pdt-favorite/save',
                        data: {pdtNo}
                    }).done(function(res){
                        $("#btn_favorite").addClass("selected");
                    }).fail(function(res){
                        Swal.fire({
                            icon: 'error',
                            text: res.responseText
                        })
                    })
                }
            })





            $("#more").click(function(){
                Swal.fire({
                    showCancelButton: true,
                    showDenyButton: true,
                    confirmButtonText: '수정하기',
                    denyButtonText: '삭제하기',
                    cancelButtonText: '닫기'
                })
                .then((result) => {
                    if (result.isConfirmed) {
                        $(location).attr("href", "/product/edit?pdtNo=" + pdtNo)
                    }else if (result.isDenied) {
                        // 삭제 ajax
                        $.ajax({
                            method:'DELETE',
                            url : '/api/v1/pdt/delete',
                            data: {pdtNo}
                        })
                        .done(function(res){
                            Swal.fire({
                              position: 'top-end',
                              icon: 'success',
                              title: '삭제되었습니다',
                              showConfirmButton: false,
                              timer: 1000
                            })
                            .then((result)=>{
                                $(location).attr("href", "/product")
                            })
                        })
                    }
                })
            })

            $.ajax({
                method:'GET',
                url:'/api/v1/pdt/find-by-pdt-no',
                data:{pdtNo : pdtNo}
            })
            .done(function(res){
                console.log(res);

                // 제품 사진
                for( img of res.images ){
                    $(`<div class="swiper-slide"> <img src="${img.imgPath}" alt="product_image"> </div>`).appendTo(".swiper-wrapper")
                }

                /* 상품 사진 스와이퍼 */
                const swiper = new Swiper('.swiper', {
                    direction: 'horizontal',
                    loop: true,
                    pagination: { el: '.swiper-pagination', }
                });

                // 회원 정보
                $(".mem_profile_image").attr("src", res.member.imgPath)
                $(".mem_nickname").text(res.member.memNickname)
                $(".mem_address").text(res.address.addressGu + " " + res.address.addressDong)
                $(".mem_brix").text(res.member.memBrix + " 브릭스")
                $(".mem_info").attr("onclick", "$(location).attr('href', '/member/"+ res.member.memNo +"')")
                if(res.member.memUsername==$("#memUsername").text()){
                    $("#more").css("display", "block");
                }else{
                    $("#more").css("display", "none");
                }

                // 제품 정보
                $(".pdt_title").text(res.product.pdtName);
                $(".pdt_cate").text(res.pdtCate);
                $(".pdt_created_at").text(res.product.pdtCreatedAt);
                $(".pdt_desc").text(res.product.pdtDesc);
                $(".pdt_views").text(res.product.pdtViews);
                $(".pdt_likes").text(res.product.favoriteCount);
                // 판매자의 판매내역
                let $seller_list = $(".mem_transaction_info ul");
                $seller_list.empty()
                if(res.sellerList.length==0){
                    $(".mem_transaction_info").css("display", "none");
                }else{
                    for( item of res.sellerList ){
                        $(`<li onclick="$(location).attr('href', '/product/${item.pdtNo}')">
                                <img src="${item.imgPath}" alt="productImg">
                                <div>
                                    <p class="item_title">${item.pdtName}</p>
                                    <p class="item_price">${item.pdtPrice}원</p>
                                </div>
                            </li>`).appendTo($seller_list)
                    }
                }
                // 카테고리 추천내역
                let $recommend_list = $(".pdt_cate_recommend ul");
                $recommend_list.empty();
                if(res.cateList.length==0){
                    $(".pdt_cate_recommend").css("display", "none");
                }else{
                    for( item of res.cateList ){
                        $(`<li onclick="$(location).attr('href', '/product/${item.pdtNo}')">
                                <img src="${item.imgPath}" alt="productImg">
                                <div>
                                    <p class="item_title">${item.pdtName}</p>
                                    <p class="item_price">${item.pdtPrice}원</p>
                                </div>
                            </li>`).appendTo($recommend_list)
                    }
                }
                // 하단 버튼 내역
                if($("#btn_action img").hasClass("selected")){
                    $("#btn_action img").removeClass("selected");
                }
                if(res.product.favoriteCheck==true){
                    $("#btn_action img").addClass("selected");
                }
                $(".pdt_price").text(res.product.pdtPrice +"원");

            })
            .fail(function(res){
                Swal.fire({
                    icon: 'error',
                    text: res.responseText
                }).then(function() {
                    $(location).attr("href", "/product")
                });

            });
        })
    </script>
</body>
</html>