<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품검색</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="/js/main.js" charset="UTF-8"></script>
    <style>
        #header .right{ justify-content : flex-end; }
    </style>
</head>
<body>
<!-- 상단 메뉴바 -->
<header id="header">
    <div>
        <img src="/img/icon/arrow_left.png" alt="arrow_left" id="header_goback">
        <div>
            <h2>상품 검색</h2>
        </div>
    </div>
    <div class="right">
        <select name="address" id="address"></select>
    </div>
</header>
<!-- 메인정보 -->
<main id="main">
    <section id="product_search">
        <div>
            <input type="text" id="search_keyword" placeholder="제목 + 본문으로 검색하기">
        </div>
        <div>
            <ul id="search_list">
                <p style='text-align : center;padding : 30px 0;'>검색 결과가 없습니다.</p>
            </ul>
        </div>
    </section>
</main>

<script>
    $(function(){
        $.ajax({
            method: "GET",
            url: "/api/v1/mem/find-by-name"
        })
        .done(function(res){
            let $address = $("#address");
            $address.empty();
            for(item of res.address){
                $("<option class='opt_address'></option>")
                    .attr("data-si", item.addressSi)
                    .attr("data-gu", item.addressGu)
                    .attr("data-dong", item.addressDong)
                    .text(item.addressDong)
                    .appendTo($address);
            }
        })

        $("#address").change(function() {
            let si = $(this).find(':selected').data('si');
            let gu = $(this).find(':selected').data('gu');
            let dong = $(this).find(':selected').data('dong');
            searchPdtList(si, gu, dong, "", "", 1, 10);
        });
        let lastKeyword;
        $("#search_keyword").on("input", async function(){
            if($("#search_keyword").val()==lastKeyword){
                return;
            }
            console.log("change detected")
            let si = $("#address").find(':selected').data('si');
            let gu = $("#address").find(':selected').data('gu');
            let dong = $("#address").find(':selected').data('dong');
            await searchPdtList(si, gu, dong, $("#search_keyword").val(), "", 1, 10);
            lastKeyword=$("#search_keyword").val();
        });
    });
</script>
</body>
</html>