<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hts.market.domain.transaction.repo.TxReviewRepo">
    <!--거래 리뷰 생성-->
    <insert id="save">
        INSERT INTO
        TRANSACTION_REVIEW (tx_no, tx_review_type, review_no)
        VALUES
        ( #{txNo}, #{txReviewType}, #{reviewNo} )
    </insert>
    <!--거래 리뷰 삭제-->
    <delete id="delete">
        DELETE FROM
        TRANSACTION_REVIEW
        WHERE
        tx_no=#{txNo} and tx_review_type=#{txReviewType}
    </delete>
    <!--리뷰 작성 여부 확인-->
    <select id="findByTxNoAndTxReviewType" resultType="boolean">
        <![CDATA[
            SELECT
                count(*)
            FROM
                TRANSACTION_REVIEW
            WHERE
                tx_no=#{txNo} and tx_review_type=#{txReviewType} and rownum<=1
        ]]>
    </select>
    <!--리뷰 리스트 확인-->
    <select id="findAllByTxNo" resultType="string">
        SELECT
        r.review
        FROM
        TRANSACTION_REVIEW tr left join REVIEW r on tr.review_no=r.review_no
        WHERE
        tx_no=#{txNo} and tx_review_type=#{txReviewType}
    </select>
</mapper>