<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hts.market.domain.chat.repo.ChatRepo">
    <!-- save() -->
    <insert id="save">
        <selectKey resultType="long" order="BEFORE" keyProperty="chatMsgNo">
            select nvl(max(chat_msg_no),0)+1 from chat where chat_mem_no =#{chatMemNo} and chat_pdt_no =#{chatPdtNo}
        </selectKey>
        insert into
        CHAT(chat_msg_no, chat_mem_no, chat_pdt_no, chat_content)
        values
        (#{chatMsgNo},#{chatMemNo},#{chatPdtNo},#{chatContent})
    </insert>

    <!--countChatByPdtNo-->
    <select id="countChatByPdtNo" resultType="int">
        SELECT COUNT (DISTINCT chat_mem_no) FROM chat where  chat_pdt_no = #{chatPdtNo};

    </select>

    <!--countChatByPdtNoAndMemNo-->
    <select id="countChatByPdtNoAndMemNo" resultType="boolean">
        SELECT COUNT (DISTINCT chat_mem_no) FROM chat where  chat_pdt_no = #{chatPdtNo} And chat_mem_no= #{chatMemNo};

    </select>

    <!-- findAllByPk //채팅방목록 및 최근메세지  -->
    <select id="findAllByChatMemNo" resultType="com.hts.market.domain.chat.dto.ChatDto$Read">
        SELECT DISTINCT chat_pdt_no, (select max(chat_msg_no)
        FROM
        chat c where c.chat_pdt_no=chat.chat_pdt_no) chat_msg_no, chat_content FROM chat WHERE chat_mem_no=#{chatMemNo}
    </select>



    <!-- findAllByChatMemNoAndChatPdtNoAndChatMsgNo // 채팅내역 -->
    <select id="findAllByChatMemNoAndChatPdtNo" resultType="com.hts.market.domain.chat.dto.ChatDto$Read">
        <![CDATA[
        SELECT
        b.*
        FROM
        (
        SELECT
        ROWNUM AS rnum,
        a.*
        FROM
        (
        SELECT
        *
        FROM
        chat
        WHERE
        chat_pdt_no=#{chatPdtNo} and chat_mem_no =#{chatMemNo}
        ORDER BY
        chat_msg_no DESC
        ) a
        WHERE
        ROWNUM <= #{end}
        ) b
        WHERE
        b.rnum >= #{start}

  ]]>
    </select>



</mapper>