<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/main.js" charset="UTF-8"></script>
    <style>

    </style>
</head>
<body>
<!-- 상단 메뉴바 -->
<header id="header">
    <div>
        <select name="address" id="address"></select>
    </div>
    <div>
        <ul>
            <li id="header_search" onclick="$(location).attr('href','/board/search')"><img src="img/icon/search.png"
                                                                                           alt="search" class="img_icon"></li>
<!--            <li id="header_notification"><img src="img/icon/notification.png" alt="notification"></li>-->
        </ul>
    </div>
</header>
<!-- 메인정보 -->
<main id="main">
    <section id="board">
        <ul></ul>
        <p onclick="getMore();" class="btn_list_more">더 보기</p>
    </section>
</main>
<!-- 하단 메뉴바 -->
<nav id="nav">
    <div id="btn_add" onclick="$(location).attr('href', '/board/upload')">
        <img src="img/icon/add.png" alt="btn_add">
    </div>
    <ul>
        <li id="nav_product">
            <img src="img/icon/product.png" alt="nav_product" class="img_icon">
            <p>홈</p>
        </li>
        <li id="nav_board" class="selected">
            <img src="img/icon/board.png" alt="nav_board" class="img_icon">
            <p>동네생활</p>
        </li>
        <li id="nav_chat">
            <img src="img/icon/chat.png" alt="nav_chat" class="img_icon">
            <p>채팅</p>
        </li>
        <li id="nav_member">
            <img src="img/icon/member.png" alt="nav_member" class="img_icon">
            <p>나의 한라봉</p>
        </li>
    </ul>
</nav>
<script>
$(function(){
    let searchParams = new URL(location.href).searchParams;

    $.ajax({
        method: "GET",
        url: "/api/v1/mem/find-by-name"
    })
    .done(function(res){
        let $address = $("#address");
        $address.empty();
        for(item of res.address){
            $("<option class='opt_address'></option>")
                .attr("data-si", item.addressSi)
                .attr("data-gu", item.addressGu)
                .attr("data-dong", item.addressDong)
                .text(item.addressDong)
                .appendTo($address);
        }
        $("#product ul").empty();

        getBrdList(res.address[0].addressSi, res.address[0].addressGu, res.address[0].addressDong, "", searchParams.get("brdCateNo"), 1, 10)
    })

    $("#address").change(function() {
        let si = $(this).find(':selected').data('si');
        let gu = $(this).find(':selected').data('gu');
        let dong = $(this).find(':selected').data('dong');
        $("#board ul").empty();

        getBrdList(si, gu, dong, "", searchParams.get("brdCateNo"), 1, 10)
    });
})

// 게시글 목록 추가 조회
function getMore(){
    let searchParams = new URL(location.href).searchParams;
    let addressSi = $("#address").find(':selected').data('si');
    let addressGu = $("#address").find(':selected').data('gu');
    let addressDong = $("#address").find(':selected').data('dong');
    let start = $("#board ul li").length + 1;
    let end = start + 10;

    getBrdList(addressSi, addressGu, addressDong,  "", searchParams.get("brdCateNo"), start, end);
}

// 게시글 목록 검색
function getBrdList(addressSi, addressGu, addressDong, keyword, brdCateNo, start, end){

    // 게시글 카테고리 번호 파싱
    if(brdCateNo==null){
        brdCateNo="";
    }else{
        brdCateNo = Number(brdCateNo);
    }

    // 게시글 목록 가져오기
    $.ajax({
        method: "GET",
        url: "/api/v1/brd/find-all-by-data",
        data : {addressSi, addressGu, addressDong, keyword, brdCateNo, start, end}
    })
    .done(function(res){
        console.log(res)
        let $ul = $("#board ul");
        if(res.length==0){
            $(".btn_list_more").css("display", "none")
        }
        for( li of res ){
            $(`
            <li onclick="$(location).attr('href', '/board/${li.brdNo}')">
                <div class="info_wrapper">
                    <div class="info1">
                        <h3 class="info_title">${li.brdTitle}</h3>
                        <p class="info_desc">
                            ${li.brdContent}
                        </p>
                    </div>
                    ${ li.imgPath!=null ? `<div class="img"><img src="${li.imgPath}" alt="product_img"></div>` : '' }
                    <div class="info2">
                        <span class="info_address"></span>
                        <span class="info_created_at">${timeForToday(li.brdCreatedAt)}</span>
                    </div>
                </div>
                <div class="count_wrapper">
                    <p class="count_like">
                        <img src="/img/icon/like.png" alt="like_count" class="${li.brdLikeCheck ? 'selected' : 'img_icon'}">
                        <span>공감 ${li.brdLikeCount}</span>
                    </p>
                    <p class="count_chat">
                        <img src="/img/icon/comment.png" alt="comment_count" class="${li.cmtCheck ? 'selected' : ''} img_icon">
                        <span>댓글 ${li.cmtCount}</span>
                    </p>
                </div>
            </li>`)
            .appendTo($ul);
        }

    })
    .fail(function(res){
        Swal.fire({
            icon: 'error',
            text: res.responseText
        });
    });
};






</script>

</body>
</html>