<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>신고 등록</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/main.js" charset="UTF-8"></script>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" sizes="192x192" href="/img/logo/192x192.png">
    <link rel="icon" sizes="512x512" href="/img/logo/512x512.png">
    <style>
        /* 신고 등록 */
        #header div.btn_upload{ justify-content: flex-end; }
        #header div h2{ font-size : 15px; font-weight : 400; }
        #header div.btn_upload span{ padding : 0 10px; font-weight : 600; font-size : 15px; color : #FF9D2A;  }
        /* 다크모드 */
        @media (prefers-color-scheme: dark) {
            .review_message_list{ color : #efefef; }
        }

    </style>
</head>
<body>
<!-- 상단 메뉴바 -->
<header id="header">
    <div>
        <img src="/img/icon/arrow_left.png" alt="arrow_left" id="header_goback" class="img_icon">
        <div>
            <h2>게시글 신고하기</h2>
        </div>
    </div>
    <div class="btn_upload">
        <span>신고</span>
    </div>
</header>
<!-- 메인정보 -->
<main id="main">
    <section id="review_upload">
        <div class="review_info">
            <h3>신고 사유를 선택해주세요</h3>
            <div class="review_message_list"></div>
        </div>
    </section>
</main>
<script>
    $(function(){
        let searchParams = new URL(location.href).searchParams;




        // 목록 불러오기
        $.ajax({
            method: "GET",
            url: "/api/v1/rpt-msg"
        })
        .done(function(res){
            let $list = $(".review_message_list");
            for(item of res){
                $(`<label><input type="radio" name="c" value="${item.rptMsgNo}"> ${item.rptMsg}</label>`).appendTo($list);
            }
        });

        // 신고 등록
        $(".btn_upload").click(function(){
            let rptMsgNo = $('input[name=c]:checked').val();

            $.ajax({
                method: 'POST',
                url: '/api/v1/brd-rpt/save',
                data: { rptBrdNo: searchParams.get("brdNo"), rptMsgNo : rptMsgNo }
            })
            .done(function(res){
                if(res==1){
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: '신고를 등록하였습니다',
                        showConfirmButton: false,
                        timer: 1000
                    })
                    .then(function(result){
                        $(location).attr('href','/product')
                    })
                }
            })
            .fail(function(res){
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: res.responseText,
                    showConfirmButton: false,
                    timer: 1000
                })
                .then(function(result){
                    $(location).attr('href','/product')
                })
            })
        })
    })

</script>

</body>
</html>