<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>휴대폰등록</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <style>
        #verifyPhone{ display: flex; flex-direction: column; align-items: center;}
        #verifyPhone .container { width : 100%; height : 100%; display : flex; flex-direction:column; justify-content:left; }
        #verifyPhone .container .top{ width : 90%; padding : 15px 5%; border-bottom : 1px solid #909090; }
        #verifyPhone .container .middle{ width : 90%; padding : 0 5%; }
        #verifyPhone .container .middle h2{ padding : 20px 0 10px 0; }
        #verifyPhone .container .middle p{ padding-bottom : 10px; font-size : 12px; word-break: keep-all; line-height : 1.4; font-weight: 100;}
        #verifyPhone .container .middle input{ margin : 14px 0; font-size: 16px; font-weight: 400; letter-spacing: -1px; padding : 15px; width : 100%; background-color: inherit; border-radius : 10px;}
        #verifyPhone .container .middle button{ transition : 0.3s; opacity : 1; font-size: 17px; font-weight: 400; letter-spacing: -1px; padding : 15px; width : 100%; background-color: inherit; border : 1px solid #fff; border-radius : 10px; }
        #verifyPhone .container .middle button:disabled{ opacity : 0.3; }
        #verifyPhone .container div.desc1{ margin : 12px 0; text-align : center;}
        #verifyPhone .container div.desc1 span{ font-size : 12px; font-weight : 300; opacity : 0.5; }
        #verifyPhone .container div.desc1 a{ color: #ff9d2a; font-weight: 500; }
        #verifyPhone .container .middle button.btn_submit{ background-color: #43474f; border-color: #43474f; opacity : 1; font-weight : 500; font-size : 16px; }
        #verifyPhone .container .middle button.btn_submit_active{ background-color: #ff9d2a; opacity: 1; border-color: #ff9d2a; font-weight : 500; font-size : 16px; }
        #verifyPhone .container .middle button.btn_again{ opacity : 0.3; }
        #verifyPhone .container .middle .desc2{ font-weight : 300; opacity : 0.5; font-size : 14px;}
        .btn_again, .desc2, #smsCode, .btn_submit, .btn_submit_active{ display : none; }
    </style>
</head>
<body id="verifyPhone">
<div class="container">
    <div class="top">
        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none" onclick="window.history.back()">
            <path d="M21.25 8.5L12.75 17L21.25 25.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
    <div class="middle">
        <h2>휴대폰 번호를 인증해주세요.</h2>
        <p>한라봉마켓은 휴대폰 번호로 가입해요. 번호는 안전하게 보관되며 어디에도 공개되지 않아요.</p>
        <input type="text" placeholder="휴대폰 번호를 입력해주세요" id="sms">
        <button onclick="getSMS();" disabled="true" id="getSMS">인증문자 받기</button>
        <div class="desc1">
            <span>휴대폰 번호가 변경되었나요?</span> <a href="">이메일로 계정찾기</a>
        </div>
        <button class="btn_again" disabled="true" onclick="sendVerificationCode();">인증문자 다시 받기 (<span id="timeLeft">4:59</span>초 남음)</button>
        <input type="text" placeholder="인증번호를 입력해주세요" id="smsCode">
        <p class="desc2">어떠한 경우에도 타인에게 공유하지 마세요!</p>
        <button class="btn_submit">인증번호 확인</button>
    </div>
</div>
<script>

    let smsCode;
    // 인증번호 받기
    function getSMS(){
        let memPhone = $("#sms").val();
        $.ajax({
            type: "GET",
            url: "/api/v1/mem/count-by-mem-phone",
            data: {memPhone: memPhone}
        })
        .done(function(result){
            if(result==1){
                alert("이미 가입된 번호입니다.");
                $("#getSMS").attr("disabled", true);
                $(".btn_again").attr("disabled", true);
                $("#sms").val("");
                $("#sms").focus();
            }else{
                sendVerificationCode();
            }
        })
        .fail(function(){

        });
    }

    // 인증코드 확인
    function sendVerificationCode(){
        let memPhone = $("#sms").val();
        $.ajax({
            type: "GET",
            url: "/api/v1/sms/verify",
            data: {memPhone: memPhone}
        }).done(function(result){
            smsCode = result;
            $(".btn_submit").click(function(){
                if($("#smsCode").val()==smsCode){
                    alert("인증번호 일치");
                    const urlSearchParams = new URLSearchParams(location.search);
                    const memNo = urlSearchParams.get('memNo');
                    if(memNo){
                        $.ajax({
                            type: "PATCH",
                            url: "/api/v1/mem/update-mem-phone-by-id",
                            data: {memNo: memNo, memPhone: memPhone}
                        }).done(function(result){
                            location.href = "/addInfo?memNo=" + memNo;
                        })
                    }else{
                        $.ajax({
                            type: "POST",
                            url: "/api/v1/mem/save-temp",
                            data: {memPhone: memPhone}
                        }).done(function(result){
                            location.href = "/addInfo?memNo=" + result;
                        })
                    }
                }else{
                    alert("인증번호 불일치");
                }
            })
            alert("인증번호를 확인해주세요.");
            $("#getSMS").css("display","none");
            $(".desc1").css("display","none");
            $(".desc2").css("display","block");
            $(".btn_again").css("display","block");
            $("#smsCode").css("display","block");
            $(".btn_submit").css("display","block");
            $("#smsCode").val("");
            $("#smsCode").focus();
            startTimer();
        })
    }

    // 문자 인증 타이머 시작 -> 300초(5분)
    function startTimer(){
        $(".btn_again").attr("disabled", true);
        $(".btn_again").css("opacity", "0.3");
        $("#smsCode").focus();
        let timePassed = 1;

        var x = setInterval(function() {
          var timeLeft = 299 - timePassed;
          var min = parseInt(timeLeft / 60);
          var sec = timeLeft - (min*60);

          if (timeLeft < 0) {
            clearInterval(x);
            $(".btn_again").attr("disabled", false);
            $(".btn_again").css("opacity", "1");
          }else{
            $("#timeLeft").text(min + " : " + sec);
            timePassed++;
          }
        }, 1000);
    }

    // 인증번호 받기 버튼 활성화
    $("#sms").on("input", function() {
        if($("#sms").val().length!=11){
            $("#getSMS").attr("disabled", true);
        }else{
            $("#getSMS").attr("disabled", false);
        }
    });

    // 인증번호 확인 버튼 활성화
    $("#smsCode").on("input", function() {
        if($("#smsCode").val().length!=4){
            $(".btn_submit_active").attr("class", "btn_submit");
            $(".btn_submit").attr("disabled", true);
        }else{
            $(".btn_submit").attr("class", "btn_submit_active");
            $(".btn_submit_active").attr("disabled", false);
        }
    });


</script>
</body>
</html>