<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/main.js" charset="UTF-8"></script>
    <link rel="icon" sizes="192x192" href="/img/logo/192x192.png">
    <link rel="icon" sizes="512x512" href="/img/logo/512x512.png">

</head>
<body>
<!-- 상단 메뉴바 -->
<header id="header">
    <div>
        <h2>나의 한라봉</h2>
    </div>
    <div>
        <ul>
        </ul>
    </div>
</header>
<!-- 메인정보 -->
<main id="main">
    <section id="member">
        <div class="wrapper">
            <div class="profile" onclick="$(location).attr('href', '/member/profile');">
                <div class="img">
                    <img src="/img/example/profile.png" alt="profile_img" id="img_path">
                </div>
                <div class="info">
                    <h3 id="mem_nickname"></h3>
                    <p><span id="mem_address"></span> * <span id="mem_no"></span></p>
                    <p id="mem_created_at"></p>
                </div>
                <div class="arrow">
                    <img src="/img/icon/arrow_right.png" alt="arrow_right" class="img_icon">
                </div>
            </div>
            <div class="brix">
                <div>
                    <span>당도</span>
                    <span class="mem_brix"></span>
                </div>
                <div class="brix_bar">
                    <p></p>
                    <p id="mem_brix"></p>
                </div>
            </div>
            <!--                <div class="kakao_pay">-->
            <!--                    <span class="kakao_pay_img">-->
            <!--                        <img src="/img/icon/kakao.png" alt="kakao"> <span>pay</span>-->
            <!--                    </span>-->
            <!--                    <span>-->
            <!--                        중고 거래도 카카오페이로 결제 하실수 있어요!-->
            <!--                    </span>-->
            <!--                </div>-->
            <div class="transaction">
                <div onclick="$(location).attr('href', '/transaction/sell');">
                        <span>
                            <img src="/img/icon/sell.png" alt="sell">
                        </span>
                    <p>판매내역</p>
                </div>
                <div onclick="$(location).attr('href', '/transaction/purchase');">
                        <span>
                            <img src="/img/icon/buy.png" alt="buy">
                        </span>
                    <p>구매내역</p>
                </div>
                <div onclick="$(location).attr('href', '/member/favorite');">
                        <span>
                            <img src="/img/icon/heart.png" alt="heart">
                        </span>
                    <p>관심목록</p>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <h4>나의 활동</h4>
            <ul>
                <li onclick="$(location).attr('href', '/member/address-list');">
                    <span>내 동네 설정</span>
                    <span>
                            <img src="/img/icon/arrow_right.png" alt="arrow" class="img_icon">
                        </span>
                </li>
<!--                <li onclick="$(location).attr('href', '/member/address');">-->
<!--                    <span>가계부</span>-->
<!--                    <span>-->
<!--                            <img src="/img/icon/arrow_right.png" alt="arrow" class="img_icon">-->
<!--                        </span>-->
<!--                </li>-->
                <li onclick="$(location).attr('href', '/member/product');">
                    <span>내 상품</span>
                    <span>
                            <img src="/img/icon/arrow_right.png" alt="arrow" class="img_icon">
                        </span>
                </li>
                <li onclick="$(location).attr('href', '/member/board');">
                    <span>내 글</span>
                    <span>
                            <img src="/img/icon/arrow_right.png" alt="arrow" class="img_icon">
                        </span>
                </li>
                <li onclick="$(location).attr('href', '/api/v1/mem/logout');">
                    <span style="color : #909090">로그아웃</span>
                    <span>
                            <img src="/img/icon/arrow_right.png" alt="arrow" class="img_icon">
                        </span>
                </li>
                <li onclick="signOut();">
                    <span style="color : #909090">회원탈퇴</span>
                    <span>
                            <img src="/img/icon/arrow_right.png" alt="arrow" class="img_icon">
                        </span>
                </li>
            </ul>
        </div>
    </section>
</main>
<!-- 하단 메뉴바 -->
<nav id="nav">
    <ul>
        <li id="nav_product">
            <img src="/img/icon/product.png" alt="nav_product" class="img_icon">
            <p>홈</p>
        </li>
        <li id="nav_board">
            <img src="/img/icon/board.png" alt="nav_board" class="img_icon">
            <p>동네생활</p>
        </li>
        <li id="nav_chat">
            <img src="/img/icon/chat.png" alt="nav_chat" class="img_icon">
            <p>채팅</p>
        </li>
        <li id="nav_member" class="selected">
            <img src="/img/icon/member.png" alt="nav_member" class="img_icon">
            <p>나의 한라봉</p>
        </li>
    </ul>
</nav>

<script>
        $(function(){
            $.ajax({
                method:"GET",
                url:"/api/v1/mem/find-by-name"
            })
            .done(function(res){
                $("#mem_no").text("#" + res.memNo);
                $("#mem_nickname").text(res.memNickname);
                $("#mem_created_at").text(timeForToday(res.memCreatedAt) + " 가입");
                $(".mem_brix").text(res.memBrix + " 브릭스");
                $("#mem_brix").css("width", res.memBrix + "%");
                if(res.address.length > 0){
                    $("#mem_address").text(res.address[0].addressGu + " " + res.address[0].addressDong );
                }
                $("#img_path").attr("src", res.imgPath);
            })
            .fail(function(res){
                Swal.fire({
                    icon: 'error',
                    text: res.responseText
                })
            })


        });
        // 회원 탈퇴
        function signOut(){
            Swal.fire({
                title: '정말 탈퇴 하시겠습니까?',
                text: "채팅을 제외한 모든 데이터가 삭제 됩니다.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3CB043',
                cancelButtonColor: '#d33',
                confirmButtonText: '탈퇴',
                cancelButtonText: '취소'
            })
            .then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        text : '탈퇴되었습니다.'
                    })
                    .then(function(){
                        $(location).attr('href', '/')
                    })
                }
            })
        };

</script>

</body>
</html>