<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hts.market.domain.product.repo.PdtFavoriteRepo">
    <!-- 관심 등록 -->
    <insert id="save">
        insert into PRODUCT_FAVORITE(pdt_no, mem_no) values (#{pdtNo}, #{memNo})
    </insert>
    <!-- 관심 해제 -->
    <delete id="delete">
        delete from PRODUCT_FAVORITE where pdt_no=#{pdtNo} and mem_no=#{memNo}
    </delete>
    <!-- 관심 목록 -->
    <select id="findAllOfFavoriteList" resultType="com.hts.market.domain.product.dto.PdtFavoriteDto$ReadList">
        SELECT
            b.*
        FROM
            (
                SELECT /*+ index_desc(PRODUCT_FAVORITE PK_PRODUCT_FAVORITE) */
                    ROWNUM AS rnum, a.*
                FROM
                    (
                        select
                            f.pdt_no, p.pdt_name, p.pdt_price, i.img_path, a.address_si, a.address_gu, a.address_dong
                        from
                            PRODUCT_FAVORITE f left outer join product p on f.pdt_no = p.pdt_no
                            left outer join product_image i on f.pdt_no = i.pdt_no
                            left join address a on f.mem_no = a.mem_no
                        where
                            f.mem_no=#{memNo}
                        ORDER BY
                            pdt_no DESC
                    ) a
                WHERE
            ROWNUM &lt;= ${end}
        ) b
        WHERE
        b.rnum &gt;= #{start}
    </select>
    <!-- 관심수 확인 -->
    <select id="countByPdtNo" resultType="int">
        select count(mem_no) from PRODUCT_FAVORITE where pdt_no=#{pdtNo}
    </select>
    <!--  관심 여부-->
    <select id="active" resultType="boolean">
        select count(*) from PRODUCT_FAVORITE where pdt_no=#{pdtNo} and mem_no = #{memNo}
    </select>
</mapper>
