<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hts.market.domain.product.repo.PdtFavoriteRepo">
    <!-- 관심 등록 -->
    <insert id="save">
        insert into PRODUCT_FAVORITE(pdt_no, mem_no) values (#{pdtNo}, #{memNo})
    </insert>
    <!-- 관심 해제 -->
    <delete id="delete">
        delete from PRODUCT_FAVORITE where pdt_no=#{pdtNo} and mem_no=#{memNo}
    </delete>
    <!-- 관심 목록 -->
    <select id="findAllByMemNo" resultType="com.hts.market.domain.product.dto.PdtDto$ReadList">
        SELECT
        b.*
        FROM
        (
        SELECT /*+ index_desc(PRODUCT_FAVORITE PK_PRODUCT_FAVORITE) */
        ROWNUM AS rnum, a.*
        FROM
        (
        select
        f.pdt_no,
        p.pdt_name, p.pdt_price, p.pdt_created_at,
        i.img_path,
        d.address_si, d.address_gu, d.address_dong
        from
        PRODUCT_FAVORITE f left outer join product p on f.pdt_no = p.pdt_no
        left outer join product_image i on f.pdt_no = i.pdt_no
        left join address d on f.mem_no = d.mem_no
        where
        f.mem_no=#{memNo} and d.address_no=(select max(dd.address_no) from address dd where dd.mem_no=#{memNo}) and i.img_no=1
        ORDER BY
        pdt_created_at DESC
        ) a
        WHERE
        ROWNUM &lt;= ${end}
        ) b
        WHERE
        b.rnum &gt;= #{start}
    </select>
    <!-- 관심수 확인 -->
    <select id="countByPdtNo" resultType="int">
        select count(mem_no) from PRODUCT_FAVORITE where pdt_no=#{pdtNo}
    </select>
    <!--  관심 여부-->
    <select id="active" resultType="boolean">
        select count(*) from PRODUCT_FAVORITE where pdt_no=#{pdtNo} and mem_no = #{memNo}
    </select>
</mapper>
