<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hts.market.domain.product.repo.PdtRptRepo">
    <!-- 신고등록 -->
    <insert id="save">
        <selectKey  resultType="long" order="BEFORE" keyProperty="rptNo">
            select nvl(max(rpt_no),0)+1 from PRODUCT_REPORT
        </selectKey>
        insert into
            PRODUCT_REPORT(rpt_no, rpt_pdt_no, rpt_mem_no, rpt_msg_no)
        values
            ( #{rptNo}, #{rptPdtNo}, #{rptMemNo}, #{rptMsgNo})
    </insert>
    <!-- 신고자번호 조회 -->
    <select id="findIdBySearch" resultType="int">
        select count(*) from PRODUCT_REPORT where rpt_mem_no = #{rptMemNo} and rpt_pdt_no = #{rptPdtNo}
    </select>
    <!-- 신고자 일일 신고횟수 체크 -->
    <select id="countOfMemNo" resultType="integer">
        select count(rpt_mem_no) from PRODUCT_REPORT where rpt_mem_no= #{rptMemNo}
    </select>
    <!-- 상품 누적신고횟수 체크 -->
    <select id="countOfRPptPdtNo" resultType="integer">
        select count(rpt_pdt_no) from PRODUCT_REPORT where rpt_pdt_no = #{rptPdtNo}
    </select>
    <!-- 신고가 5회이상인 상품번호 조회 -->
    <select id="findPdtNoByCount" resultType="long">
        select
            rpt_pdt_no
        from
            PRODUCT_REPORT
        group by
            rpt_pdt_no
        having
            count(rpt_pdt_no) &gt;= 5
    </select>
    <!-- 상품 삭제 -->
    <delete id="deleteOfPdt">
        delete from PRODUCT where pdt_no=#{pdtNo}
    </delete>
    <!-- 이미지 삭제 -->
    <delete id="deleteOfImg">
        delete from PRODUCT_IMAGE where pdt_no=#{pdtNo}
    </delete>
    <!-- 관심 삭제 -->
    <delete id="deleteOfFavorite">
        delete from PRODUCT_FAVORITE where pdt_no=#{pdtNo}
    </delete>
    <!-- 신고 삭제 -->
    <delete id="deleteOfRpt">
        delete from PRODUCT_REPORT where rpt_pdt_no=#{pdtNo}
    </delete>
    <delete id="deleteAll">
        delete from PRODUCT_REPORT
    </delete>
</mapper>