<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hts.market.domain.product.repo.PdtRptRepo">
    <!-- 신고등록 -->
    <insert id="save">
        <selectKey  resultType="long" order="BEFORE" keyProperty="rptNo">
            select nvl(max(rpt_no),0)+1 from PRODUCT_REPORT
        </selectKey>
        insert into
            PRODUCT_REPORT(rpt_no, rpt_pdt_no, rpt_mem_no, rpt_msg_no)
        values
            ( #{rptNo}, #{rptPdtNo}, #{rptMemNo}, #{rptMsgNo})
    </insert>

    <!-- 신고목록 -->
    <select id="findAllByDto" resultType="com.hts.market.domain.product.dto.PdtRptDto$Read">
        select
            rpt_no, rpt_pdt_no, rpt_mem_no, rpt_msg_no, rpt_created_at
        from
            PRODUCT_REPORT
        <where>
            <if test="rptPdtNo!= null">rpt_pdt_no = #{rptPdtNo}</if>
            <if test="rptMemNo!= null">rpt_mem_no = #{rptMemNo}</if>
            <if test="rptMsgNo!= null">rpt_msg_no = #{rptMsgNo}</if>
        </where>
        order by
            rpt_no desc
    </select>
    <!-- 일반 삭제 -->
    <delete id="deleteByRptNo">
        delete from
            PRODUCT_REPORT
        where
            rpt_no = #{rptNo}
    </delete>
    <!-- 회원별 신고삭제 -->
    <delete id="deleteByRptMemNo">
        delete from
            PRODUCT_REPORT
        where
            rpt_mem_no = #{rptMemNo}
    </delete>
    <!-- 상품별 신고삭제 -->
    <delete id="deleteByRptPdtNo">
        delete from
            PRODUCT_REPORT
        where
            rpt_pdt_no = #{rptPdtNo}
    </delete>
</mapper>