<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/main.js" charset="UTF-8"></script>
    <style>
        #username{ display : none; }

    </style>
</head>
<body>
<!-- 상단 메뉴바 -->
<header id="header">
    <div>
        <img src="img/icon/arrow_left.png" alt="arrow_left" id="header_goback" class="img_icon">
    </div>
</header>
<!-- 메인정보 -->
<main id="main">
    <section id="signup">
        <div class="info_wrapper">
            <p class="title">기본 정보를 입력해주세요.</p>
            <p class="desc">한라봉 마켓의 다양한 서비스를 위해 기본정보를 입력해주세요.</p>
        </div>
        <div class="input_wrapper">
            <p>휴대번호</p>
            <input type="number" th:value="${member.memUsername}" name="memPhone" id="phone"
                   placeholder="휴대폰 번호를 입력해주세요" readonly>
            <p>닉네임</p>
            <input type="text" name="memNickname" id="nickname" placeholder="닉네임을 입력해주세요">
            <p>이메일</p>
            <input type="email" name="memEmail" id="email" placeholder="이메일을 입력해주세요">
            <button id="btn_submit" onclick="signup();">시작하기</button>
        </div>
    </section>
</main>
<script>
    // 회원 추가 정보 기입
    function signup(){
        let memUsername = $("#phone").val();
        let memNickname = $("#nickname").val();
        let memEmail = $("#email").val();

        $.ajax({
            method: "PATCH",
            url: "/api/v1/mem/update-by-mem-username",
            data: { memUsername: memUsername, memNickname: memNickname, memEmail: memEmail }
        })
        .done(function(res){
            $.ajax({
                method:"GET",
                url:"/api/v1/mem/find-by-name"
            })
            .done(function(result){
                if(result.address.length==0){
                    $(location).attr("href", "/member/address");
                }else{
                    $(location).attr("href", "/product");
                }
            })
        })
        .fail(function(res){
            Swal.fire({
                icon: 'error',
                text: '정보 등록에 실패하였습니다.'
            })
        })
    }


</script>

</body>
</html>