<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hts.market.domain.member.repo.MemRepo">
    <select id="countByMemUsername" resultType="boolean">
        <![CDATA[
            SELECT
                count(*)
            FROM
                MEMBER
            WHERE
                mem_username=#{memUsername} and rownum <= 1
        ]]>
    </select>
    <select id="countByMemNo" resultType="boolean">
        <![CDATA[
            SELECT
                count(*)
            FROM
                MEMBER
            WHERE
                mem_no=#{memNo} and rownum <= 1
        ]]>
    </select>
    <select id="countByMemNickname" resultType="boolean">
        <![CDATA[
            SELECT
                count(*)
            FROM
                MEMBER
            WHERE
                mem_nickname=#{memNickname} and mem_username!=#{memUsername} and rownum <= 1
        ]]>
    </select>
    <insert id="save">
        <selectKey resultType="long" order="BEFORE" keyProperty="memNo">
            <if test="memNo==null">
                select mem_seq.nextval from dual
            </if>
            <if test="memNo!=null">
                SELECT #{memNo} FROM DUAL
            </if>
        </selectKey>
        INSERT INTO
        MEMBER( mem_no, mem_username, mem_password, mem_email, mem_nickname, mem_is_enabled )
        VALUES
        ( #{memNo}, #{memUsername}, #{memPassword}, #{memEmail}, #{memNickname}, #{memIsEnabled} )
    </insert>
    <update id="updateMemPassword">
        <![CDATA[
            UPDATE
                MEMBER
            SET
                mem_password=#{memPassword}
            WHERE
                mem_username=#{memUsername} AND rownum <= 1
        ]]>
    </update>
    <update id="updateMemUsernameById">
        <![CDATA[
            UPDATE
                MEMBER
            SET
                mem_username=#{memUsername}
            WHERE
                mem_no=#{memNo} AND rownum <= 1
        ]]>
    </update>
    <update id="updateByMemUsername">
        <![CDATA[
            UPDATE
                MEMBER
            SET
                mem_nickname=#{memNickname}, mem_email=#{memEmail}
            WHERE
                mem_username=#{memUsername} AND rownum <= 1
        ]]>
    </update>
    <select id="loadUserByUsername" resultType="com.hts.market.domain.member.entity.MemEntity">
        <![CDATA[
            SELECT
                *
            FROM
                MEMBER
            WHERE
                mem_username=#{memUsername} and rownum <= 1
        ]]>
    </select>
    <select id="loadUserByMemNo" resultType="com.hts.market.domain.member.entity.MemEntity">
        <![CDATA[
            SELECT
                *
            FROM
                MEMBER
            WHERE
                mem_no=#{memNo} and rownum <= 1
        ]]>
    </select>
    <select id="findById" resultMap="memDtoMember">
        SELECT
        m.mem_no, m.mem_username, m.mem_nickname, m.mem_email, m.mem_brix, m.mem_created_at,
        i.img_no, i.img_path,
        a.address_no, a.address_si, a.address_gu, a.address_dong
        FROM
        MEMBER m
        left outer join MEMBER_IMAGE i on m.mem_no = i.mem_no
        left outer join ADDRESS a on m.mem_no = a.mem_no
        WHERE
        m.mem_no=#{memNo}
    </select>
    <select id="findByName" resultMap="memDtoMember">
        SELECT
        m.mem_no, m.mem_username, m.mem_nickname, m.mem_email, m.mem_brix, m.mem_created_at,
        i.img_no, i.img_path,
        a.address_no, a.address_si, a.address_gu, a.address_dong
        FROM
        MEMBER m
        left outer join MEMBER_IMAGE i on m.mem_no = i.mem_no
        left outer join ADDRESS a on m.mem_no = a.mem_no
        WHERE
        m.mem_username=#{memUsername}
    </select>
    <resultMap id="memDtoMember" type="com.hts.market.domain.member.dto.MemDto$Member">
        <id column="mem_no" property="memNo"/>
        <result column="mem_username" property="memUsername"/>
        <result column="mem_nickname" property="memNickname"/>
        <result column="mem_email" property="memEmail"/>
        <result column="mem_brix" property="memBrix"/>
        <result column="mem_created_at" property="memCreatedAt"/>
        <result column="img_no" property="imgNo"/>
        <result column="img_path" property="imgPath"/>
        <collection property="address" ofType="com.hts.market.domain.member.dto.AddressDto$Read">
            <id column="address_no" property="addressNo"/>
            <result column="address_si" property="addressSi"/>
            <result column="address_gu" property="addressGu"/>
            <result column="address_dong" property="addressDong"/>
        </collection>
    </resultMap>
    <select id="findIdByMemUsername" resultType="long">
        <![CDATA[
            SELECT
                mem_no
            FROM
                MEMBER
            WHERE
                mem_username=#{memUsername} and rownum >= 1
        ]]>
    </select>
    <select id="findMemUsernameById" resultType="string">
        <![CDATA[
            SELECT
                mem_username
            FROM
                MEMBER
            WHERE
                mem_no=#{memNo} and rownum >= 1
        ]]>
    </select>
    <update id="updateMemNickname">
        <![CDATA[
            UPDATE
                MEMBER
            SET
                mem_nickname=#{memNickname}
            WHERE
                mem_no=#{memNo} AND rownum <= 1
        ]]>
    </update>
    <delete id="delete">
        DELETE FROM
        member
        FROM
        member m left join product p on m.mem_no = p.pdt_seller_no
        left join product_favorite pf on m.mem_no = pf.mem_no
        left join address a on m.mem_no = a.mem_no
        left join member_image mi on m.mem_no = mi.mem_no
        left join member_role mr on m.mem_no = mr.mem_no
        left join board_image bi on m.mem_no = bi.mem_no
        left join board_like bl on m.mem_no = bl.mem_no
        left join comments c on m.mem_no = c.cmt_writer_no
        left join member_report mr on m.mem_no = mr.rpt_mem_no
        left join member_report mrr on m.mem_no = mrr.rpt_target_no
        left join product_report pr on m.mem_no = pr.rpt_mem_no
        left join board_report br on m.mem_no = br.rpt_mem_no
        WHERE
        m.mem_no = #{memNo}
    </delete>
    <update id="updateMemIsEnabled">
        <![CDATA[
            UPDATE
                MEMBER
            SET
                mem_is_enabled=0
            WHERE
                mem_no=#{memNo} AND rownum <= 1
        ]]>
    </update>
</mapper>