<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hts.market.domain.member.repo.MemRptRepo">
    <!-- 신고 저장-->
    <insert id="save">
        <selectKey resultType="long" order="BEFORE" keyProperty="rptNo">
            select nvl(max(rpt_no),0)+1 from MEMBER_REPORT
        </selectKey>
        insert into
        MEMBER_REPORT( rpt_no, rpt_mem_no, rpt_target_no, rpt_msg_no )
        values
        ( #{rptNo}, #{rptMemNo}, #{rptTargetNo}, #{rptMsgNo} )
    </insert>
    <!-- 신고 확인 -->
    <select id="findByCount" resultType="long">
        select
            rpt_target_no
        from
            MEMBER_REPORT
        group by
            rpt_target_no
        having
            count(rpt_target_no) &gt;= 5
    </select>
    <delete id="sortDelete">
        delete from
            MEMBER_REPORT
        where
            rpt_created_at &lt;= TO_CHAR(CURRENT_DATE-7,'YYYYMMDD')
    </delete>

</mapper>