<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hts.market.domain.member.repo.MemRoleRepo">
    <!--    회원권한 저장-->
    <insert id="save">
        INSERT INTO
        MEMBER_ROLE( mem_no, role_no )
        VALUES
        ( #{memNo}, #{roleNo} )
    </insert>
    <!--    회원권한 조회-->
    <select id="findAllById" resultType="com.hts.market.domain.member.dto.MemRoleDto$Read">
        <![CDATA[
            SELECT
                *
            FROM
                MEMBER_ROLE
            WHERE
                mem_no=#{memNo}
        ]]>
    </select>
    <!--    회원권한 삭제-->
    <delete id="delete">
        <![CDATA[
            DELETE FROM
                MEMBER_ROLE
            WHERE
                mem_no=#{memNo} and role_no=#{roleNo}
        ]]>
    </delete>
    <!--    회원권한 전체 삭제-->
    <delete id="deleteAll">
        <![CDATA[
            DELETE FROM
                MEMBER_ROLE
            WHERE
                mem_no=#{memNo}
        ]]>
    </delete>
</mapper>