<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hts.market.domain.board.repo.BrdCateRepo">



    <select id="findBrdCateNameByCateNo" resultType="com.example.demo.dto.BoardDto$Create">

        select * from brd_cate_no board where brd_no=#{brdNo} and rownum&lt;=1
    </select>



</mapper>
