<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>시작하기</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="js/main.js" charset="UTF-8"></script>
</head>
<body>
<!-- 메인정보 -->
<main id="main">
    <section id="index">
        <div class="empty_header"></div>
        <div class="logo_wrapper">
            <img src="img/layout/logo.png" alt="logo">
            <h2>당신 근처의 한라봉 마켓</h2>
            <p>내 동네를 설정하고<br>한라봉 마켓을 시작해보세요</p>
        </div>
        <div class="btn_wrapper">
            <button id="start">시작하기</button>
            <button id="start_kakao"><img src="img/icon/kakao.png">카카오로 시작하기</button>
            <p>이미 계정이 있나요? <a href="/login">로그인</a></p>
        </div>
    </section>
</main>
<script>
    $(function(){
        // 시작하기
        $("#start").click(function(){
            $(location).attr("href", "/login");
        });
        // 카카오로 시작하기
        $("#start_kakao").click(function(){
            // 빌드
            $(location).attr("href", "https://kauth.kakao.com/oauth/authorize?client_id=1b484f0bd9bd6502362669834ce3920a&redirect_uri=http://129.154.215.102:8087/api/v1/kakao&response_type=code");
            // 로컬
            // $(location).attr("href", "https://kauth.kakao.com/oauth/authorize?client_id=1b484f0bd9bd6502362669834ce3920a&redirect_uri=http://localhost:8087/api/v1/kakao&response_type=code");
        });
    });
</script>
</body>
</html>