<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hts.market.domain.board.repo.BrdRptRepo">
    <!-- 신고등록 -->
    <insert id="save">
        <selectKey resultType="long" order="BEFORE" keyProperty="rptNo">
            select nvl(max(rpt_no),0)+1 from BOARD_REPORT
        </selectKey>
        insert into BOARD_REPORT(rpt_no, rpt_msg_no, rpt_mem_no, rpt_brd_no)
        values( #{rptNo}, #{rptMsgNo}, #{rptMemNo}, #{rptBrdNo})
    </insert>
    <!-- 신고자번호 조회 -->
    <select id="findIdBySearch" resultType="int">
        select count(*) from BOARD_REPORT where rpt_mem_no = #{rptMemNo} and rpt_brd_no = #{rptBrdNo}
    </select>
    <!-- 신고자 일일 신고횟수 체크 -->
    <select id="countOfMemNo" resultType="integer">
        select count(rpt_mem_no) from BOARD_REPORT where rpt_mem_no= #{rptMemNo}
    </select>
    <!-- 신고보기 -->
    <select id="findByRptNo" resultType="com.hts.market.domain.board.dto.BrdRptDto$Read">
        select rpt_no, rpt_msg_no, rpt_mem_no, rpt_brd_no, rpt_created_at from BOARD_REPORT
        where rpt_no = #{rptNo}
    </select>
    <!-- 신고목록 -->
    <select id="findAll" resultType="com.hts.market.domain.board.dto.BrdRptDto$Read">
        select rpt_no, rpt_mem_no, rpt_brd_no, rpt_created_at
        from BOARD_REPORT where rownum &lt;= 10 order by rpt_no desc
    </select>
    <!-- 일반 삭제 -->
    <delete id="delete">
        delete from BOARD_REPORT where rpt_no = #{rptNo}
    </delete>
    <delete id="deleteAll">
        delete from BOARD_REPORT
    </delete>
    <!-- 신고가 5회이상인 글번호 조회 -->
    <select id="findBrdNoByCount" resultType="long">
        select
        rpt_brd_no
        from
        BOARD_REPORT
        group by
        rpt_brd_no
        having
        count(rpt_brd_no) &gt;= 5
    </select>
</mapper>
